:root {
  --gray-btn-bg: rgb(200, 200, 200);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 650px;
  overflow: hidden;
  font-family: "Mochiy Pop One", sans-serif;
  font-family: "Poppins", sans-serif;
}

button {
  background-color: var(--gray-btn-bg);
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  border-color: black;
  user-select: none;
  cursor: pointer;
}

input {
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  text-align: center;
}

textarea {
  border: none;
  text-align: center;
}

.container {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(200, 200, 200, 0.5);
}

.start-page {
  height: 95%;
  display: grid;
  align-items: flex-start;
}

.title {
  font-size: 3rem;
  user-select: none;
  cursor: pointer;
}

.start-btn {
  font-size: 2rem;
  font-weight: 500;
  border-radius: 0.7rem;
  cursor: pointer;
}

.leg-count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leg-input {
  margin: 0.5rem;
  font-size: 2.5rem;
  text-align: center;
  flex-wrap: nowrap;
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  border-color: black;
}

.change-btn {
  height: 5rem;
  cursor: pointer;
}

.decrease-btn {
  transform: rotate(180deg);
}

/* --------------------------------------------------------------------------- */

.menu-page {
  width: 95%;
  height: 95%;
}

.home-container {
  cursor: pointer;
}

.home-btn {
  height: 3rem;
  margin: 0;
}

.home-title {
  margin: 0;
  user-select: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 80%;
}

.mobile-scroll {
  display: none;
  height: 200px;
  width: 2ch;
  border-width: 1px;
  border-radius: 0;
  width: 5ch;
}

.mobile-scroll-left {
  left: 10px;
}
.mobile-scroll-right {
  right: 5px;
}

@media all and (max-width: 600px) {
  .main {
    min-width: 200%;
    justify-content: space-between;
    overflow-x: scroll;
    margin-top: 20px;
  }

  .main-shift {
    flex-direction: row-reverse;
  }

  .mobile-leg {
    width: 90vw;
  }

  .button-mobile {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: center;
  }

  .mobile-scroll-show {
    display: block;
    position: fixed;
    height: 40vh;
    top: 180px;
  }

  .right-button {
    right: 10px;
  }
  .left-mobile {
    display: block;
  }
}

.show-legs {
  right: 0;
}

.scroll-btn {
  margin: 10px;
  min-width: 10px;
}

.scroll-btn-n,
.scroll-btn-p {
  cursor: pointer;
}

.mobile-leg {
  max-width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.leg-and-btns {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  flex-direction: column;
}

.leg-show-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.leg-show {
  display: block;
  width: 100%;
  overflow-x: scroll;
  border-collapse: separate;
  border-spacing: 4px 0px;
}

.leg-show::-webkit-scrollbar {
  height: 0.5rem;
}

.leg-show::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
}

.top-input {
  font-size: 1rem;
  width: 10ch;
}

textarea::-webkit-scrollbar {
  width: 0.5rem;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
}

.connect-line {
  width: 0.4rem;
  height: 16rem;
  background-color: black;
  margin-left: 50%;
  transform: translateX(-0.2rem);
  padding: 0;
}

.hide-element {
  display: none;
}

.entry-table-container {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  flex-direction: column;
}

.entry-table {
  display: grid;
  width: 100%;
  max-width: 250px;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-gap: 20px;
  justify-items: center;
}

.td-input-field {
  min-width: 10ch;
  max-width: 11ch;
  border: solid;
  border-width: 0.1rem;
  border-color: black;
  text-align: left;
  line-height: 21px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
  gap: 10px;
  display: flex;
}

.entry-table-textarea {
  min-width: 5ch;
  max-width: 10ch;
  resize: none;
  font-size: 15px;
  text-align: left;
  line-height: 1;
  overflow: visible;
  line-height: 21px;
  overflow-y: hidden;
  padding: 0;
  border: 0;
  outline: none;
  resize: none;
  height: 450px;
  padding-top: 3px;
}

.insert-btn {
  font-size: 1rem;
  height: 2rem;
}

.start-game-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.start-game-btn {
  width: 180px;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.7rem;
  cursor: pointer;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.h-line-inputs {
  width: 100%;
}

.h-line-input {
  width: 2ch;
  font-size: 2rem;
  font-weight: 100;
  margin-left: 10px;
  margin-right: 10px;
}

.lines-inp-text {
  width: 250px;
  font-weight: lighter;
  font-size: 1rem;
}

.input-numbers {
  text-align: center;
  width: 2ch;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 21px;
  padding-top: 3px;
  user-select: none;
}

/* -------------------------------------------------------------------------- */
.run-page {
  height: 95%;
  width: 95%;
}

.ghost-leg {
  margin: 0;
  width: 100%;
  height: 65%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ghost-scroll-btn-container {
  width: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ghost-scroll-btn {
  cursor: pointer;
}
.ghost-leg-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.ghost-leg-container::-webkit-scrollbar {
  height: 0.5rem;
}

.ghost-leg-container::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btns button {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  width: 15rem;
  height: 3rem;
}

.leg-text-btn {
  color: black;
  font-size: 20px;
  overflow: visible;
  user-select: none;
  cursor: pointer;
  font-weight: 200;
}

.leg-text-btn:hover,
.leg-text-btn:active {
  font-size: 25px;
}
/* ---------------------------------------------------------- */

.result-page {
  height: 95%;
  width: 95%;
}

.result-page-container {
  width: 100%;
  height: 100%;
}

.results {
  height: 75%;
  overflow-y: scroll;
  margin: 20px;
}

.results::-webkit-scrollbar {
  width: 0.5rem;
}

.results::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
}

.result-table-grid {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, 210px);
}

.result-text {
  font-size: 1.4rem;
}

.restart {
  padding-bottom: 5px;
}
.easterEgg-page {
  height: 95%;
  width: 95%;
}
